<div class="row">
  <div class="col-sm-10">
    <h3><span class="decorator">A:</span> {{answer.answer}}</h3>
    <h6>Submitted by {{answer.author}} on {{answer.timestamp}}</h6>
    <button class="btn" {{action 'delete' answer}}>Delete</button>
  </div>
  <div class="col-sm-2">
    <i class="fa fa-thumbs-o-up" aria-hidden="true" {{action 'upvote' answer}}></i>
    <i class="fa fa-thumbs-o-down" aria-hidden="true" {{action 'downvote' answer}}></i>
    <p>Upvote: {{answer.upvote}}</p>
  </div>
</div>
